html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

font-family: 'Roboto', sans-serif;

/*Menu*/
/*.nav-group {
    cursor: pointer;
    border-left: 4px solid transparent;
}

.nav-group-title {
    padding: 12px 10px;
}

.sidenav-item {
    cursor: pointer;
    border-left: 4px solid transparent;
}

.sidenav-item > a {
    display: block;
    padding: 12px 10px;
    color: inherit;
    text-decoration: none;
}

.sidenav-item:hover > a {
    text-decoration: none;
}

.sidenav-item:hover {
    font-weight: bold;
}

.sidenav-item.active {
    background: #1abc9c;
    border-left: 4px solid #117964;
}

.nav-group .nav-group-title:hover {
    font-weight: bold;
}

.nav-group-items {
    overflow: hidden;
    transition: max-height 0.15s ease-out;
}

.nav-group-items > .sidenav-item {
    padding-left: 32px;
}
*/
.arrow-up, .arrow-down {
    width: 0;
    height: 0;
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.arrow-up {
    border-bottom: 9px solid #7ac943;
}

.arrow-down {
    border-top: 9px solid #f15a24;
}
